body {
    background: url('https://github.com/kicheungwauongy/web_1_project_2/blob/master/assets/textures/az_subtle.png?raw=true');
}

#mainav {
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #a6a69d;
    margin: 20px;
    padding: 10px;

}

#mainleft {
    display: flex;
    align-items: center;
}

div#mainleft a {
    margin: 0 20px;
  }

.about, .gallery, .documents {
    color: black;
    font-size: .80rem;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    background-color: #686868;
    color: white;
}

#mainright {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 50px;
}
  
.socialmedia {
    height: 20px;
    width: 20px;
}
  
.login, .register {
    color: #a6a69d;
    font-size: 10px;
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;   
}
